In [849]:
import pandas as pd

In [850]:
df_pen_int_fij_x100h = pd.read_csv('../CSV_Cleaned/df_pen_int_fij_x100h_var.csv')

In [851]:
df_pen_int_fij_x100h.head()

,anio_tri,anio,trimestre,provincia,accesos por cada 100 hogares,variacion de los accesos por cada 100 hogares
0,20141,2014,1,Tucumán,33.42,0.0
1,20141,2014,1,Buenos Aires,54.57,0.0
2,20141,2014,1,Capital Federal,112.25,0.0
3,20141,2014,1,Catamarca,24.25,0.0
4,20141,2014,1,Chaco,20.72,0.0

In [852]:
df_pen_int_fij_x100h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   anio_tri                                       840 non-null    int64
 1   anio                                           840 non-null    int64
 2   trimestre                                      840 non-null    int64
 3   provincia                                      840 non-null    object
 4   accesos por cada 100 hogares                   840 non-null    float64
 5   variacion de los accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 39.5+ KB

# Pivot:

##### El pivot table de los accesos por cada100 hogares , denota la participacion de cada provincia en el total del pais, por otra parte teniendo los ingresos acomodados en la misma estructura de tiempos, pero estos ultimos solo a nivel anual... quiere decir que normalizando la tabla 1 y multiplicando por la 2 obtenemos el ingreso monetario que aporto cada provincia por cada acceso cada 100 hogares.

In [853]:
# Hacer la transpuesta o pivot table
df_pivot_df_pen_int_fij_x100h = df_pen_int_fij_x100h.pivot(index='provincia', columns=['anio_tri'], values=['accesos por cada 100 hogares'])

In [854]:
df_pivot_df_pen_int_fij_x100h # agrupado por provincia, accesos x cada 100 h. 24 rows

                    accesos por cada 100 hogares                          \
anio_tri                                   20141   20142   20143   20144
provincia
Buenos Aires                               54.57   55.06   56.75   56.09
Capital Federal                           112.25  113.14  113.80  114.90
Catamarca                                  24.25   24.70   24.71   25.51
Chaco                                      20.72   20.96   21.11   21.87
Chubut                                     41.24   41.41   40.60   40.25
Corrientes                                 22.32   22.58   22.79   23.56
Córdoba                                    52.52   53.45   54.23   54.70
Entre Ríos                                 34.37   34.69   34.98   36.03
Formosa                                    17.42   17.54   17.77   17.96
Jujuy                                      18.42   18.71   18.37   19.60
La Pampa                                   48.43   49.71   55.78   51.27
La Rioja                                   16.29   16.50   16.51   17.01
Mendoza                                    31.91   32.10   32.31   32.64
Misiones                                   23.14   23.37   23.57   24.16
Neuquén                                    49.79   50.84   56.40   52.55
Río Negro                                  44.91   45.33   46.20   45.48
Salta                                      28.70   28.91   29.22   29.53
San Juan                                   27.60   27.78   27.85   28.04
San Luis                                    9.35    9.72    9.71    9.79
Santa Cruz                                 28.94   29.38   28.23   27.80
Santa Fe                                   47.85   48.39   49.20   50.00
Santiago Del Estero                        16.31   16.70   16.49   17.27
Tierra Del Fuego                           63.97   64.36   65.69   66.14
Tucumán                                    33.42   33.94   33.94   35.32

                                                                     ...  \
anio_tri              20151   20152   20153   20154   20161   20162  ...
provincia                                                            ...
Buenos Aires          56.37   56.80   57.69   58.29   57.34   59.34  ...
Capital Federal      114.90  116.07  118.29  118.13  115.16  120.04  ...
Catamarca             25.11   25.45   25.86   26.24   25.91   26.07  ...
Chaco                 26.65   27.46   27.96   28.35   28.08   28.59  ...
Chubut                37.61   36.58   36.81   36.89   36.09   36.12  ...
Corrientes            28.95   29.58   30.17   30.34   30.08   30.58  ...
Córdoba               54.70   55.87   57.08   57.36   55.28   57.55  ...
Entre Ríos            42.07   42.93   43.68   44.11   43.85   44.74  ...
Formosa               18.12   18.36   18.84   19.07   19.04   19.37  ...
Jujuy                 19.69   20.29   21.27   21.47   21.41   21.89  ...
La Pampa              55.51   56.71   57.96   58.76   57.84   60.44  ...
La Rioja              16.70   16.88   17.15   17.32   16.83   16.88  ...
Mendoza               32.37   32.49   32.49   32.49   32.12   32.13  ...
Misiones              26.31   27.35   28.31   28.69   28.37   29.24  ...
Neuquén               51.95   53.12   54.60   58.29   55.75   59.10  ...
Río Negro             45.33   45.98   46.39   46.44   45.84   46.24  ...
Salta                 30.01   30.46   31.18   31.59   31.32   32.08  ...
San Juan              27.55   27.64   27.67   27.66   27.33   27.34  ...
San Luis               9.72    9.71    9.71    9.71    9.59    9.60  ...
Santa Cruz            27.99   27.07   27.61   27.74   26.87   26.73  ...
Santa Fe              50.24   51.18   52.15   52.61   51.28   52.44  ...
Santiago Del Estero   17.06   17.11   17.12   17.00   16.21   15.89  ...
Tierra Del Fuego      74.23   74.51   74.86   66.46   65.83   67.72  ...
Tucumán               35.08   35.69   36.61   37.06   36.72   37.24  ...

                                                                             \
anio_tri              20202   20203   20204   20211   20212   20213   20214
provincia
Buenos Aires          65.22   67.66   68.98   69.11   70.00   71.68   75.66
Capital Federal      106.41  107.68  108.31  108.42  110.14  111.27  111.27
Catamarca             45.43   47.16   49.41   48.90   52.34   52.71   55.25
Chaco                 39.83   41.54   43.03   43.14   43.33   42.96   44.05
Chubut                57.34   68.34   68.35   68.99   72.29   80.71   82.57
Corrientes            40.30   41.75   42.43   42.66   43.54   44.90   45.51
Córdoba               72.71   75.22   78.08   78.59   80.12   81.28   84.51
Entre Ríos            56.54   58.19   59.47   60.44   61.66   62.18   63.16
Formosa               31.14   31.91   32.49   32.73   33.23   33.96   34.45
Jujuy                 47.89   54.04   53.46   55.63   56.18   55.69   56.92
La Pampa              76.10   79.26   81.77   81.78   82.08   84.28   89.57
La Rioja              49.84   50.12   50.11   49.81   76.98   77.26   77.92
Mendoza               36.25   37.35   38.63   39.15   40.97   45.55   47.51
Misiones              40.89   41.60   42.64   43.17   45.01   45.57   49.06
Neuquén               63.90   65.24   67.00   66.84   69.14   69.71   73.30
Río Negro             56.37   57.05   61.09   60.88   61.94   61.97   65.69
Salta                 51.58   52.32   54.04   53.93   54.93   55.96   56.81
San Juan              35.09   38.79   36.32   39.06   39.28   39.46   39.59
San Luis              78.41   79.96   81.68   81.24   83.48   79.87   80.30
Santa Cruz            35.79   35.95   37.00   41.65   44.01   43.75   43.05
Santa Fe              70.00   72.12   73.58   73.92   75.07   75.02   77.09
Santiago Del Estero   43.47   43.38   43.75   45.67   46.56   47.00   47.05
Tierra Del Fuego      76.37   76.81   76.27   77.35   67.89   94.95   98.40
Tucumán               51.78   53.23   54.78   54.82   54.93   54.64   55.93


anio_tri              20221   20222   20223
provincia
Buenos Aires          76.08   77.58   78.11
Capital Federal      111.80  121.31  122.28
Catamarca             58.21   62.40   65.33
Chaco                 44.06   43.79   43.86
Chubut                88.05   83.19   84.38
Corrientes            47.64   48.35   48.21
Córdoba               85.76   87.48   88.31
Entre Ríos            63.70   63.90   63.67
Formosa               34.96   43.42   43.76
Jujuy                 58.06   57.32   58.91
La Pampa              91.66   92.98   96.59
La Rioja              78.77   80.14   80.66
Mendoza               48.74   49.39   51.03
Misiones              49.04   51.00   51.82
Neuquén               74.17   80.02   80.37
Río Negro             67.04   67.85   67.98
Salta                 56.11   57.54   57.76
San Juan              43.55   49.46   50.80
San Luis              80.72   81.76   81.74
Santa Cruz            43.34   43.15   43.19
Santa Fe              77.30   77.90   78.55
Santiago Del Estero   47.17   47.70   47.98
Tierra Del Fuego      98.29   99.86   99.51
Tucumán               57.39   59.31   61.14

[24 rows x 35 columns]

In [855]:
from sklearn.preprocessing import normalize

# Normalizar el DataFrame
df_normalized_df_pivot_df_pen_int_fij_x100h = normalize(df_pivot_df_pen_int_fij_x100h, axis=1)

# Crear un nuevo DataFrame con los datos normalizados y las mismas columnas e índices
df_normalized_df_pivot_df_pen_int_fij_x100h = pd.DataFrame(df_normalized_df_pivot_df_pen_int_fij_x100h, columns=df_pivot_df_pen_int_fij_x100h.columns, index=df_pivot_df_pen_int_fij_x100h.index)

In [856]:
df_normalized_df_pivot_df_pen_int_fij_x100h.head(5)

                accesos por cada 100 hogares                                \
anio_tri                               20141     20142     20143     20144
provincia
Buenos Aires                        0.144313  0.145609  0.150078  0.148333
Capital Federal                     0.167144  0.168470  0.169452  0.171090
Catamarca                           0.108079  0.110084  0.110129  0.113694
Chaco                               0.103081  0.104275  0.105021  0.108802
Chubut                              0.127336  0.127861  0.125360  0.124279

                                                                             \
anio_tri            20151     20152     20153     20154     20161     20162
provincia
Buenos Aires     0.149073  0.150210  0.152564  0.154151  0.151638  0.156928
Capital Federal  0.171090  0.172833  0.176138  0.175900  0.171477  0.178744
Catamarca        0.111912  0.113427  0.115254  0.116948  0.115477  0.116190
Chaco            0.132582  0.136612  0.139100  0.141040  0.139697  0.142234
Chubut           0.116128  0.112947  0.113658  0.113905  0.111434  0.111527

                 ...                                                    \
anio_tri         ...     20202     20203     20204     20211     20212
provincia        ...
Buenos Aires     ...  0.172478  0.178930  0.182421  0.182765  0.185118
Capital Federal  ...  0.158448  0.160339  0.161278  0.161441  0.164003
Catamarca        ...  0.202475  0.210185  0.220213  0.217940  0.233272
Chaco            ...  0.198152  0.206660  0.214072  0.214619  0.215565
Chubut           ...  0.177048  0.211012  0.211043  0.213019  0.223208


anio_tri            20213     20214     20221     20222     20223
provincia
Buenos Aires     0.189561  0.200087  0.201197  0.205164  0.206566
Capital Federal  0.165685  0.165685  0.166474  0.180635  0.182079
Catamarca        0.234921  0.246241  0.259434  0.278108  0.291166
Chaco            0.213724  0.219147  0.219196  0.217853  0.218201
Chubut           0.249207  0.254950  0.271870  0.256864  0.260538

[5 rows x 35 columns]

In [857]:
# Revertir la tabla pivotada
df_pivot_df_pen_int_fij_x100h_normalized_revertido = df_normalized_df_pivot_df_pen_int_fij_x100h.stack().reset_index()
df_pivot_df_pen_int_fij_x100h_normalized_revertido.columns = ['provincia', 'anio_tri', 'accesos por cada 100 hogares']

df_pivot_df_pen_int_fij_x100h_normalized_revertido

        provincia  anio_tri  accesos por cada 100 hogares
0    Buenos Aires     20141                      0.144313
1    Buenos Aires     20142                      0.145609
2    Buenos Aires     20143                      0.150078
3    Buenos Aires     20144                      0.148333
4    Buenos Aires     20151                      0.149073
..            ...       ...                           ...
835       Tucumán     20213                      0.207818
836       Tucumán     20214                      0.212724
837       Tucumán     20221                      0.218277
838       Tucumán     20222                      0.225580
839       Tucumán     20223                      0.232540

[840 rows x 3 columns]

___________________________________________________________________________________________________________________

#### pivot de variacion de los accesos x cada 100 hogares:

In [858]:
df_pivot_df_pen_int_fij_x100h_var = df_pen_int_fij_x100h.pivot(index='provincia', columns=['anio_tri'], values=['variacion de los accesos por cada 100 hogares'])

In [859]:
df_pivot_df_pen_int_fij_x100h_var.head(5)

                variacion de los accesos por cada 100 hogares            \
anio_tri                                                20141     20142
provincia
Buenos Aires                                              0.0  0.008979
Capital Federal                                           0.0  0.007929
Catamarca                                                 0.0  0.018557
Chaco                                                     0.0  0.011583
Chubut                                                    0.0  0.004122

                                                                             \
anio_tri            20143     20144     20151     20152     20153     20154
provincia
Buenos Aires     0.030694 -0.011630  0.004992  0.007628  0.015669  0.010400
Capital Federal  0.005833  0.009666  0.000000  0.010183  0.019126 -0.001353
Catamarca        0.000405  0.032376 -0.015680  0.013540  0.016110  0.014695
Chaco            0.007156  0.036002  0.218564  0.030394  0.018208  0.013948
Chubut          -0.019560 -0.008621 -0.065590 -0.027386  0.006288  0.002173

                                     ...                                \
anio_tri            20161     20162  ...     20202     20203     20204
provincia                            ...
Buenos Aires    -0.016298  0.034880  ...  0.013835  0.037412  0.019509
Capital Federal -0.025142  0.042376  ...  0.004057  0.011935  0.005851
Catamarca       -0.012576  0.006175  ...  0.207602  0.038081  0.047710
Chaco           -0.009524  0.018162  ...  0.062700  0.042932  0.035869
Chubut          -0.021686  0.000831  ...  0.118393  0.191838  0.000146

                                                                             \
anio_tri            20211     20212     20213     20214     20221     20222
provincia
Buenos Aires     0.001885  0.012878  0.024000  0.055525  0.005551  0.019716
Capital Federal  0.001016  0.015864  0.010260  0.000000  0.004763  0.085063
Catamarca       -0.010322  0.070348  0.007069  0.048188  0.053575  0.071981
Chaco            0.002556  0.004404 -0.008539  0.025372  0.000227 -0.006128
Chubut           0.009364  0.047833  0.116475  0.023045  0.066368 -0.055196


anio_tri            20223
provincia
Buenos Aires     0.006832
Capital Federal  0.007996
Catamarca        0.046955
Chaco            0.001599
Chubut           0.014305

[5 rows x 35 columns]

# _____________________________________________________________________________________________________________________

# Combinado con los ingresos por año...

In [860]:
df_ingresos_inter_fijo_var = pd.read_csv('../CSV_Cleaned/df_ingresos_inter_fijo_var')

In [861]:
df_ingresos_inter_fijo_var.head(5)

,anio_tri,anio,trimestre,variacion trimestral ingresos (miles de pesos),ingresos (miles de pesos),periodo
0,20141,2014,1,NaN,2984054,Ene-Mar 2014
1,20142,2014,2,0.096098,3270816,Abr-Jun 2014
2,20143,2014,3,0.063538,3478638,Jul-Sept 2014
3,20144,2014,4,0.135629,3950441,Oct-Dic 2014
4,20151,2015,1,0.234390,4876385,Ene-Mar 2015

# df_pivot:

In [862]:
df_pivot_df_ingresos_inter_fijo = df_ingresos_inter_fijo_var.pivot(index='anio_tri', columns=['anio','trimestre'], values=['ingresos (miles de pesos)'])

In [863]:
df_pivot_df_ingresos_inter_fijo.head(5)

          ingresos (miles de pesos)                                   \
anio                           2014
trimestre                         1          2          3          4
anio_tri
20141                     2984054.0        NaN        NaN        NaN
20142                           NaN  3270816.0        NaN        NaN
20143                           NaN        NaN  3478638.0        NaN
20144                           NaN        NaN        NaN  3950441.0
20151                           NaN        NaN        NaN        NaN

                                           ...                                \
anio            2015             2016      ... 2020         2021
trimestre          1   2   3   4    1   2  ...    2   3   4    1   2   3   4
anio_tri                                   ...
20141            NaN NaN NaN NaN  NaN NaN  ...  NaN NaN NaN  NaN NaN NaN NaN
20142            NaN NaN NaN NaN  NaN NaN  ...  NaN NaN NaN  NaN NaN NaN NaN
20143            NaN NaN NaN NaN  NaN NaN  ...  NaN NaN NaN  NaN NaN NaN NaN
20144            NaN NaN NaN NaN  NaN NaN  ...  NaN NaN NaN  NaN NaN NaN NaN
20151      4876385.0 NaN NaN NaN  NaN NaN  ...  NaN NaN NaN  NaN NaN NaN NaN


anio      2022
trimestre    1   2   3
anio_tri
20141      NaN NaN NaN
20142      NaN NaN NaN
20143      NaN NaN NaN
20144      NaN NaN NaN
20151      NaN NaN NaN

[5 rows x 35 columns]

In [864]:
df_pivot_df_ingresos_inter_fijo.fillna(0).head(5)

          ingresos (miles de pesos)                                   \
anio                           2014
trimestre                         1          2          3          4
anio_tri
20141                     2984054.0        0.0        0.0        0.0
20142                           0.0  3270816.0        0.0        0.0
20143                           0.0        0.0  3478638.0        0.0
20144                           0.0        0.0        0.0  3950441.0
20151                           0.0        0.0        0.0        0.0

                                               ...                           \
anio            2015                2016       ... 2020           2021
trimestre          1    2    3    4    1    2  ...    2    3    4    1    2
anio_tri                                       ...
20141            0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
20142            0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
20143            0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
20144            0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
20151      4876385.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0


anio                2022
trimestre    3    4    1    2    3
anio_tri
20141      0.0  0.0  0.0  0.0  0.0
20142      0.0  0.0  0.0  0.0  0.0
20143      0.0  0.0  0.0  0.0  0.0
20144      0.0  0.0  0.0  0.0  0.0
20151      0.0  0.0  0.0  0.0  0.0

[5 rows x 35 columns]

Vitacora - 30/05/2023: ¿Tengo que, de alguna forma implementar el mismo índice? Para ambos datos prima, antes de multiplicarlos. La otra opción que se me ocurre es separar los datos. Y multiplicarlos, y luego ponerle los encabezados que necesito. Pero bueno, me voy a bañar.

# Genero matriz plana de ingresos x periodo

In [865]:
# Suponiendo que ya tienes el dataframe "df_pivot_df_ingresos_inter_fijo"

# Obtén el número de filas y columnas del dataframe
num_filas, num_columnas = df_pivot_df_ingresos_inter_fijo.shape

# Itera sobre cada fila del dataframe
for i in range(num_filas):
    fila = df_pivot_df_ingresos_inter_fijo.iloc[i, :]  # Obtiene la fila actual
    
    # Encuentra el único valor mayor a cero en la fila
    valores_fila_positivos = fila[fila > 0]
    if len(valores_fila_positivos) == 1:
        valor_mayor = valores_fila_positivos.iloc[0]
    else:
        valor_mayor = 0.0
    
    # Actualiza todos los valores de la fila con el valor mayor
    df_pivot_df_ingresos_inter_fijo.iloc[i, :] = valor_mayor

# Muestra el dataframe actualizado
df_pivot_df_ingresos_inter_fijo.head(5)

          ingresos (miles de pesos)                                   \
anio                           2014
trimestre                         1          2          3          4
anio_tri
20141                     2984054.0  2984054.0  2984054.0  2984054.0
20142                     3270816.0  3270816.0  3270816.0  3270816.0
20143                     3478638.0  3478638.0  3478638.0  3478638.0
20144                     3950441.0  3950441.0  3950441.0  3950441.0
20151                     4876385.0  4876385.0  4876385.0  4876385.0

                                                                             \
anio            2015                                        2016
trimestre          1          2          3          4          1          2
anio_tri
20141      2984054.0  2984054.0  2984054.0  2984054.0  2984054.0  2984054.0
20142      3270816.0  3270816.0  3270816.0  3270816.0  3270816.0  3270816.0
20143      3478638.0  3478638.0  3478638.0  3478638.0  3478638.0  3478638.0
20144      3950441.0  3950441.0  3950441.0  3950441.0  3950441.0  3950441.0
20151      4876385.0  4876385.0  4876385.0  4876385.0  4876385.0  4876385.0

           ...                                                         \
anio       ...       2020                             2021
trimestre  ...          2          3          4          1          2
anio_tri   ...
20141      ...  2984054.0  2984054.0  2984054.0  2984054.0  2984054.0
20142      ...  3270816.0  3270816.0  3270816.0  3270816.0  3270816.0
20143      ...  3478638.0  3478638.0  3478638.0  3478638.0  3478638.0
20144      ...  3950441.0  3950441.0  3950441.0  3950441.0  3950441.0
20151      ...  4876385.0  4876385.0  4876385.0  4876385.0  4876385.0


anio                                  2022
trimestre          3          4          1          2          3
anio_tri
20141      2984054.0  2984054.0  2984054.0  2984054.0  2984054.0
20142      3270816.0  3270816.0  3270816.0  3270816.0  3270816.0
20143      3478638.0  3478638.0  3478638.0  3478638.0  3478638.0
20144      3950441.0  3950441.0  3950441.0  3950441.0  3950441.0
20151      4876385.0  4876385.0  4876385.0  4876385.0  4876385.0

[5 rows x 35 columns]

#### Extraigo la mascara de valores unicamente, ya acomodados (operacion sin index):

In [866]:
columna_deseada = df_pivot_df_ingresos_inter_fijo.columns[0]  # Obtener el nombre de la primera columna
df_valores = pd.DataFrame({
    'anio_tri': df_pivot_df_ingresos_inter_fijo.index,
    columna_deseada: df_pivot_df_ingresos_inter_fijo[columna_deseada].values
})

# Establecer "anio_tri" como el nuevo índice
df_valores.set_index('anio_tri', inplace=True)

# Mostrar el nuevo DataFrame con la columna de valores y el índice mantenido
df_valores.head(5)

          (ingresos (miles de pesos), 2014, 1)
anio_tri
20141                                2984054.0
20142                                3270816.0
20143                                3478638.0
20144                                3950441.0
20151                                4876385.0

In [867]:
# Transponer el DataFrame
df_pivot = df_valores.transpose()

# Resetear el índice
df_pivot.reset_index(drop=True, inplace=True)

# Mostrar el DataFrame pivoteado
df_pivot

anio_tri,20141,20142,20143,20144,20151,20152,20153,20154,20161,20162,...,20202,20203,20204,20211,20212,20213,20214,20221,20222,20223
0,2984054.0,3270816.0,3478638.0,3950441.0,4876385.0,4701791.0,5153739.0,5376899.0,5936845.0,6534241.0,...,32102476.0,31997445.0,33539703.0,36676371.0,38239667.0,42999944.0,45467887.0,55589997.0,60335724.0,67055930.0

In [868]:
df_resultado = pd.DataFrame()

for index, row in df_normalized_df_pivot_df_pen_int_fij_x100h.iterrows():
    resultado_fila = df_pivot.mul(row)
    df_resultado = df_resultado.append(resultado_fila)

df_resultado.reset_index(drop=True, inplace=True)

C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)
C:\Users\Luca\AppData\Local\Temp\ipykernel_14780\1369128728.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_resultado = df_resultado.append(resultado_fila)

In [869]:
df_resultado

         accesos por cada 100 hogares                                \
anio_tri                        20141          20142          20143
0                       430638.063712  476259.994871  522067.772733
1                       498767.869708  551033.153048  589463.529245
2                       322512.956052  360065.749349  383098.743173
3                       307599.345888  341064.384243  365330.935268
4                       379977.269478  418209.242972  436081.390071
5                       313692.398292  347842.927481  373384.846355
6                       394051.815729  439567.688184  474319.280860
7                       335995.709806  371713.158649  398636.043668
8                       322172.087871  355564.820603  383115.521755
9                       240921.340220  268230.937599  280089.842748
10                      340545.263217  383136.540569  457237.081070
11                      173806.040559  192964.385868  205349.388494
12                      431718.229200  476023.124737  509580.850956
13                      324272.682300  358967.522215  385042.927560
14                      402902.486460  450933.809839  532034.118929
15                      421866.918724  466731.992025  505914.294250
16                      339314.728898  374643.621013  402720.359167
17                      412981.263777  455620.172216  485790.508547
18                       86173.376744   98192.247580  104323.773895
19                      438968.307543  488467.717330  499169.540377
20                      381666.354114  423064.896830  457477.349032
21                      234710.449814  263417.347002  276631.530292
22                      407440.631207  449317.626714  487741.608280
23                      379301.880879  422220.994457  449048.187277

                                                                      \
anio_tri          20144          20151          20152          20153
0         585980.012023  726938.723224  706258.094571  786275.497692
1         675882.263423  834302.330075  812622.318383  907770.141532
2         449143.153159  545724.490910  533310.153332  593990.756129
3         429816.755552  646523.296470  642322.051230  716883.470066
4         490957.329166  566283.102967  531054.758273  585761.092218
5         438353.009408  664889.816177  655035.166513  732319.936448
6         543318.939034  670667.483585  660486.475738  739653.510732
7         466291.355386  672075.433302  661259.205270  737483.949066
8         439728.885716  547632.561765  535018.845871  601778.132593
9         339375.602515  420845.482293  418142.521678  480472.877999
10        477268.305136  637856.390429  628313.895539  703889.512514
11        240263.056389  291173.308809  283774.172857  316026.607504
12        584605.147368  715661.395532  692595.932306  759169.998744
13        448211.341111  602502.934040  603894.372238  685176.756187
14        562949.507737  686965.112434  677286.672998  763073.210596
15        565577.044223  695840.085450  680546.845352  752614.413411
16        462192.787526  579799.877477  567423.549916  636667.482222
17        555441.312134  673649.790104  651652.323293  715066.066286
18        119449.158420  146392.583140  141005.928523  154559.773725
19        558236.639236  693791.295531  646963.139695  723297.208749
20        527971.938488  654851.570896  643218.990528  718409.372983
21        329010.459181  401188.799982  387958.361653  425498.435883
22        557687.715137  772607.206216  747754.768146  823480.938789
23        530686.631725  650623.048413  638236.652404  717619.154934

                                                     ...                \
anio_tri          20154         20161         20162  ...         20202
0         828853.386835  9.002543e+05  1.025403e+06  ...  5.536956e+06
1         945796.110811  1.018035e+06  1.167956e+06  ...  5.086586e+06
2         628817.260835  6.855701e+05  7.592153e+05  ...  6.499950e+06
3         758357.385350  8.293575e+05  9.293906e+05  ...  6.361182e+06
4         612453.071472  6.615686e+05  7.287443e+05  ...  5.683665e+06
5         768334.937143  8.410788e+05  9.411000e+05  ...  6.093218e+06
6         775466.353448  8.251743e+05  9.455019e+05  ...  5.868872e+06
7         776991.841221  8.528503e+05  9.577202e+05  ...  5.946232e+06
8         635500.146150  7.005768e+05  7.844366e+05  ...  6.195698e+06
9         505991.113762  5.571233e+05  6.269312e+05  ...  6.738486e+06
10        744504.561114  8.091661e+05  9.306220e+05  ...  5.756744e+06
11        332979.019603  3.572539e+05  3.943707e+05  ...  5.720759e+06
12        792042.516526  8.645660e+05  9.518593e+05  ...  5.276105e+06
13        724440.561262  7.909616e+05  8.972487e+05  ...  6.164473e+06
14        849918.098588  8.975357e+05  1.047210e+06  ...  5.562763e+06
15        786049.376795  8.566947e+05  9.511274e+05  ...  5.696555e+06
16        672969.902876  7.367016e+05  8.305077e+05  ...  6.560456e+06
17        745759.240752  8.135981e+05  8.957942e+05  ...  5.648544e+06
18        161252.304934  1.758446e+05  1.937409e+05  ...  7.774363e+06
19        758169.478466  8.108702e+05  8.878142e+05  ...  5.840206e+06
20        756128.202250  8.137650e+05  9.159106e+05  ...  6.006643e+06
21        440811.165973  4.640989e+05  5.007153e+05  ...  6.729766e+06
22        762734.732106  8.341821e+05  9.444814e+05  ...  5.232902e+06
23        757895.217379  8.291446e+05  9.255006e+05  ...  6.322261e+06

                                                                  \
anio_tri         20203         20204         20211         20212
0         5.725311e+06  6.118348e+06  6.703151e+06  7.078870e+06
1         5.130454e+06  5.409202e+06  5.921084e+06  6.271402e+06
2         6.725396e+06  7.385890e+06  7.993260e+06  8.920241e+06
3         6.612577e+06  7.179919e+06  7.871463e+06  8.243123e+06
4         6.751846e+06  7.078317e+06  7.812765e+06  8.535414e+06
5         6.291800e+06  6.702478e+06  7.369030e+06  7.841617e+06
6         6.051605e+06  6.584472e+06  7.247289e+06  7.703303e+06
7         6.099738e+06  6.534384e+06  7.262035e+06  7.724407e+06
8         6.328127e+06  6.753704e+06  7.439872e+06  7.875489e+06
9         7.578960e+06  7.858997e+06  8.942818e+06  9.416181e+06
10        5.976172e+06  6.462595e+06  7.067847e+06  7.396140e+06
11        5.734076e+06  6.009256e+06  6.531907e+06  1.052517e+07
12        5.418422e+06  5.874228e+06  6.510061e+06  7.103084e+06
13        6.250992e+06  6.716094e+06  7.435475e+06  8.082830e+06
14        5.660834e+06  6.093757e+06  6.647739e+06  7.169595e+06
15        5.746411e+06  6.449931e+06  7.028890e+06  7.456088e+06
16        6.632804e+06  7.181062e+06  7.836658e+06  8.322194e+06
17        6.223715e+06  6.108290e+06  7.183452e+06  7.531824e+06
18        7.902107e+06  8.461157e+06  9.202612e+06  9.859420e+06
19        5.847122e+06  6.307960e+06  7.764783e+06  8.554476e+06
20        6.168311e+06  6.596510e+06  7.246755e+06  7.673187e+06
21        6.693860e+06  7.076346e+06  8.077727e+06  8.586158e+06
22        5.245832e+06  5.460020e+06  6.055193e+06  5.541167e+06
23        6.478040e+06  6.988003e+06  7.647109e+06  7.989058e+06


anio_tri         20213         20214         20221         20222         20223
0         8.151127e+06  9.097517e+06  1.118456e+07  1.237873e+07  1.385146e+07
1         7.124451e+06  7.533353e+06  9.254307e+06  1.089875e+07  1.220951e+07
2         1.010159e+07  1.119608e+07  1.442192e+07  1.677984e+07  1.952444e+07
3         9.190119e+06  9.964136e+06  1.218513e+07  1.314433e+07  1.463170e+07
4         1.071587e+07  1.159203e+07  1.511326e+07  1.549808e+07  1.747065e+07
5         9.093213e+06  9.745738e+06  1.247302e+07  1.373960e+07  1.522571e+07
6         8.787666e+06  9.661283e+06  1.198680e+07  1.327105e+07  1.488912e+07
7         8.759234e+06  9.407937e+06  1.160068e+07  1.263057e+07  1.398684e+07
8         9.050418e+06  9.707940e+06  1.204484e+07  1.623669e+07  1.818644e+07
9         1.049601e+07  1.134354e+07  1.414662e+07  1.515862e+07  1.731431e+07
10        8.539769e+06  9.596681e+06  1.200688e+07  1.321958e+07  1.526241e+07
11        1.187845e+07  1.266750e+07  1.565650e+07  1.728865e+07  1.933893e+07
12        8.880209e+06  9.793923e+06  1.228426e+07  1.351078e+07  1.551421e+07
13        9.202106e+06  1.047545e+07  1.280228e+07  1.445057e+07  1.631830e+07
14        8.128569e+06  9.037741e+06  1.118088e+07  1.309255e+07  1.461444e+07
15        8.388323e+06  9.402206e+06  1.173158e+07  1.288695e+07  1.434974e+07
16        9.533662e+06  1.023396e+07  1.235808e+07  1.375493e+07  1.534541e+07
17        8.508237e+06  9.026198e+06  1.213946e+07  1.496385e+07  1.708109e+07
18        1.060734e+07  1.127652e+07  1.385902e+07  1.523597e+07  1.692882e+07
19        9.562554e+06  9.949606e+06  1.224654e+07  1.323376e+07  1.472137e+07
20        8.622639e+06  9.369104e+06  1.148607e+07  1.256340e+07  1.407922e+07
21        9.746250e+06  1.031659e+07  1.264545e+07  1.387921e+07  1.551562e+07
22        8.714534e+06  9.549512e+06  1.166238e+07  1.286019e+07  1.424247e+07
23        8.936150e+06  9.672115e+06  1.213402e+07  1.361051e+07  1.559317e+07

[24 rows x 35 columns]

__________________________________________________________________________________________________________________

# desehos:

In [870]:
df_pivot_df_ingresos_inter_fijo_revertido

     anio_tri trimestre ingresos (miles de pesos)                          \
anio                                         2014        2015        2016
0       20141         1                 2984054.0   2984054.0   2984054.0
1       20141         2                 2984054.0   2984054.0   2984054.0
2       20141         3                 2984054.0   2984054.0   2984054.0
3       20141         4                 2984054.0   2984054.0   2984054.0
4       20142         1                 3270816.0   3270816.0   3270816.0
..        ...       ...                       ...         ...         ...
135     20222         4                60335724.0  60335724.0  60335724.0
136     20223         1                67055930.0  67055930.0  67055930.0
137     20223         2                67055930.0  67055930.0  67055930.0
138     20223         3                67055930.0  67055930.0  67055930.0
139     20223         4                67055930.0  67055930.0  67055930.0


anio        2017        2018        2019        2020        2021        2022
0      2984054.0   2984054.0   2984054.0   2984054.0   2984054.0   2984054.0
1      2984054.0   2984054.0   2984054.0   2984054.0   2984054.0   2984054.0
2      2984054.0   2984054.0   2984054.0   2984054.0   2984054.0   2984054.0
3      2984054.0   2984054.0   2984054.0   2984054.0   2984054.0         NaN
4      3270816.0   3270816.0   3270816.0   3270816.0   3270816.0   3270816.0
..           ...         ...         ...         ...         ...         ...
135   60335724.0  60335724.0  60335724.0  60335724.0  60335724.0         NaN
136   67055930.0  67055930.0  67055930.0  67055930.0  67055930.0  67055930.0
137   67055930.0  67055930.0  67055930.0  67055930.0  67055930.0  67055930.0
138   67055930.0  67055930.0  67055930.0  67055930.0  67055930.0  67055930.0
139   67055930.0  67055930.0  67055930.0  67055930.0  67055930.0         NaN

[140 rows x 11 columns]

In [871]:

df_pivot_df_ingresos_inter_fijo_matrix_plana = df_pivot_df_ingresos_inter_fijo['ingresos (miles de pesos)']

In [872]:
df_pivot_df_ingresos_inter_fijo_matrix_plana

anio             2014                                            2015  \
trimestre           1           2           3           4           1
anio_tri
20141       2984054.0   2984054.0   2984054.0   2984054.0   2984054.0
20142       3270816.0   3270816.0   3270816.0   3270816.0   3270816.0
20143       3478638.0   3478638.0   3478638.0   3478638.0   3478638.0
20144       3950441.0   3950441.0   3950441.0   3950441.0   3950441.0
20151       4876385.0   4876385.0   4876385.0   4876385.0   4876385.0
20152       4701791.0   4701791.0   4701791.0   4701791.0   4701791.0
20153       5153739.0   5153739.0   5153739.0   5153739.0   5153739.0
20154       5376899.0   5376899.0   5376899.0   5376899.0   5376899.0
20161       5936845.0   5936845.0   5936845.0   5936845.0   5936845.0
20162       6534241.0   6534241.0   6534241.0   6534241.0   6534241.0
20163       6912442.0   6912442.0   6912442.0   6912442.0   6912442.0
20164       7483980.0   7483980.0   7483980.0   7483980.0   7483980.0
20171       8701201.0   8701201.0   8701201.0   8701201.0   8701201.0
20172       9678647.0   9678647.0   9678647.0   9678647.0   9678647.0
20173      10065998.0  10065998.0  10065998.0  10065998.0  10065998.0
20174      11226127.0  11226127.0  11226127.0  11226127.0  11226127.0
20181      13171459.0  13171459.0  13171459.0  13171459.0  13171459.0
20182      14319467.0  14319467.0  14319467.0  14319467.0  14319467.0
20183      15410981.0  15410981.0  15410981.0  15410981.0  15410981.0
20184      16637687.0  16637687.0  16637687.0  16637687.0  16637687.0
20191      20207414.0  20207414.0  20207414.0  20207414.0  20207414.0
20192      20743118.0  20743118.0  20743118.0  20743118.0  20743118.0
20193      21652748.0  21652748.0  21652748.0  21652748.0  21652748.0
20194      24169251.0  24169251.0  24169251.0  24169251.0  24169251.0
20201      29946216.0  29946216.0  29946216.0  29946216.0  29946216.0
20202      32102476.0  32102476.0  32102476.0  32102476.0  32102476.0
20203      31997445.0  31997445.0  31997445.0  31997445.0  31997445.0
20204      33539703.0  33539703.0  33539703.0  33539703.0  33539703.0
20211      36676371.0  36676371.0  36676371.0  36676371.0  36676371.0
20212      38239667.0  38239667.0  38239667.0  38239667.0  38239667.0
20213      42999944.0  42999944.0  42999944.0  42999944.0  42999944.0
20214      45467887.0  45467887.0  45467887.0  45467887.0  45467887.0
20221      55589997.0  55589997.0  55589997.0  55589997.0  55589997.0
20222      60335724.0  60335724.0  60335724.0  60335724.0  60335724.0
20223      67055930.0  67055930.0  67055930.0  67055930.0  67055930.0

anio                                                 2016              ...  \
trimestre           2           3           4           1           2  ...
anio_tri                                                               ...
20141       2984054.0   2984054.0   2984054.0   2984054.0   2984054.0  ...
20142       3270816.0   3270816.0   3270816.0   3270816.0   3270816.0  ...
20143       3478638.0   3478638.0   3478638.0   3478638.0   3478638.0  ...
20144       3950441.0   3950441.0   3950441.0   3950441.0   3950441.0  ...
20151       4876385.0   4876385.0   4876385.0   4876385.0   4876385.0  ...
20152       4701791.0   4701791.0   4701791.0   4701791.0   4701791.0  ...
20153       5153739.0   5153739.0   5153739.0   5153739.0   5153739.0  ...
20154       5376899.0   5376899.0   5376899.0   5376899.0   5376899.0  ...
20161       5936845.0   5936845.0   5936845.0   5936845.0   5936845.0  ...
20162       6534241.0   6534241.0   6534241.0   6534241.0   6534241.0  ...
20163       6912442.0   6912442.0   6912442.0   6912442.0   6912442.0  ...
20164       7483980.0   7483980.0   7483980.0   7483980.0   7483980.0  ...
20171       8701201.0   8701201.0   8701201.0   8701201.0   8701201.0  ...
20172       9678647.0   9678647.0   9678647.0   9678647.0   9678647.0  ...
20173      10065998.0  10065998.0  10065998.0  10065998.0  10065998.0  ...
20174      11226127.0  11226127.0  11226127.0  11226127.0  11226127.0  ...
20181      13171459.0  13171459.0  13171459.0  13171459.0  13171459.0  ...
20182      14319467.0  14319467.0  14319467.0  14319467.0  14319467.0  ...
20183      15410981.0  15410981.0  15410981.0  15410981.0  15410981.0  ...
20184      16637687.0  16637687.0  16637687.0  16637687.0  16637687.0  ...
20191      20207414.0  20207414.0  20207414.0  20207414.0  20207414.0  ...
20192      20743118.0  20743118.0  20743118.0  20743118.0  20743118.0  ...
20193      21652748.0  21652748.0  21652748.0  21652748.0  21652748.0  ...
20194      24169251.0  24169251.0  24169251.0  24169251.0  24169251.0  ...
20201      29946216.0  29946216.0  29946216.0  29946216.0  29946216.0  ...
20202      32102476.0  32102476.0  32102476.0  32102476.0  32102476.0  ...
20203      31997445.0  31997445.0  31997445.0  31997445.0  31997445.0  ...
20204      33539703.0  33539703.0  33539703.0  33539703.0  33539703.0  ...
20211      36676371.0  36676371.0  36676371.0  36676371.0  36676371.0  ...
20212      38239667.0  38239667.0  38239667.0  38239667.0  38239667.0  ...
20213      42999944.0  42999944.0  42999944.0  42999944.0  42999944.0  ...
20214      45467887.0  45467887.0  45467887.0  45467887.0  45467887.0  ...
20221      55589997.0  55589997.0  55589997.0  55589997.0  55589997.0  ...
20222      60335724.0  60335724.0  60335724.0  60335724.0  60335724.0  ...
20223      67055930.0  67055930.0  67055930.0  67055930.0  67055930.0  ...

anio             2020                                2021              \
trimestre           2           3           4           1           2
anio_tri
20141       2984054.0   2984054.0   2984054.0   2984054.0   2984054.0
20142       3270816.0   3270816.0   3270816.0   3270816.0   3270816.0
20143       3478638.0   3478638.0   3478638.0   3478638.0   3478638.0
20144       3950441.0   3950441.0   3950441.0   3950441.0   3950441.0
20151       4876385.0   4876385.0   4876385.0   4876385.0   4876385.0
20152       4701791.0   4701791.0   4701791.0   4701791.0   4701791.0
20153       5153739.0   5153739.0   5153739.0   5153739.0   5153739.0
20154       5376899.0   5376899.0   5376899.0   5376899.0   5376899.0
20161       5936845.0   5936845.0   5936845.0   5936845.0   5936845.0
20162       6534241.0   6534241.0   6534241.0   6534241.0   6534241.0
20163       6912442.0   6912442.0   6912442.0   6912442.0   6912442.0
20164       7483980.0   7483980.0   7483980.0   7483980.0   7483980.0
20171       8701201.0   8701201.0   8701201.0   8701201.0   8701201.0
20172       9678647.0   9678647.0   9678647.0   9678647.0   9678647.0
20173      10065998.0  10065998.0  10065998.0  10065998.0  10065998.0
20174      11226127.0  11226127.0  11226127.0  11226127.0  11226127.0
20181      13171459.0  13171459.0  13171459.0  13171459.0  13171459.0
20182      14319467.0  14319467.0  14319467.0  14319467.0  14319467.0
20183      15410981.0  15410981.0  15410981.0  15410981.0  15410981.0
20184      16637687.0  16637687.0  16637687.0  16637687.0  16637687.0
20191      20207414.0  20207414.0  20207414.0  20207414.0  20207414.0
20192      20743118.0  20743118.0  20743118.0  20743118.0  20743118.0
20193      21652748.0  21652748.0  21652748.0  21652748.0  21652748.0
20194      24169251.0  24169251.0  24169251.0  24169251.0  24169251.0
20201      29946216.0  29946216.0  29946216.0  29946216.0  29946216.0
20202      32102476.0  32102476.0  32102476.0  32102476.0  32102476.0
20203      31997445.0  31997445.0  31997445.0  31997445.0  31997445.0
20204      33539703.0  33539703.0  33539703.0  33539703.0  33539703.0
20211      36676371.0  36676371.0  36676371.0  36676371.0  36676371.0
20212      38239667.0  38239667.0  38239667.0  38239667.0  38239667.0
20213      42999944.0  42999944.0  42999944.0  42999944.0  42999944.0
20214      45467887.0  45467887.0  45467887.0  45467887.0  45467887.0
20221      55589997.0  55589997.0  55589997.0  55589997.0  55589997.0
20222      60335724.0  60335724.0  60335724.0  60335724.0  60335724.0
20223      67055930.0  67055930.0  67055930.0  67055930.0  67055930.0

anio                                     2022
trimestre           3           4           1           2           3
anio_tri
20141       2984054.0   2984054.0   2984054.0   2984054.0   2984054.0
20142       3270816.0   3270816.0   3270816.0   3270816.0   3270816.0
20143       3478638.0   3478638.0   3478638.0   3478638.0   3478638.0
20144       3950441.0   3950441.0   3950441.0   3950441.0   3950441.0
20151       4876385.0   4876385.0   4876385.0   4876385.0   4876385.0
20152       4701791.0   4701791.0   4701791.0   4701791.0   4701791.0
20153       5153739.0   5153739.0   5153739.0   5153739.0   5153739.0
20154       5376899.0   5376899.0   5376899.0   5376899.0   5376899.0
20161       5936845.0   5936845.0   5936845.0   5936845.0   5936845.0
20162       6534241.0   6534241.0   6534241.0   6534241.0   6534241.0
20163       6912442.0   6912442.0   6912442.0   6912442.0   6912442.0
20164       7483980.0   7483980.0   7483980.0   7483980.0   7483980.0
20171       8701201.0   8701201.0   8701201.0   8701201.0   8701201.0
20172       9678647.0   9678647.0   9678647.0   9678647.0   9678647.0
20173      10065998.0  10065998.0  10065998.0  10065998.0  10065998.0
20174      11226127.0  11226127.0  11226127.0  11226127.0  11226127.0
20181      13171459.0  13171459.0  13171459.0  13171459.0  13171459.0
20182      14319467.0  14319467.0  14319467.0  14319467.0  14319467.0
20183      15410981.0  15410981.0  15410981.0  15410981.0  15410981.0
20184      16637687.0  16637687.0  16637687.0  16637687.0  16637687.0
20191      20207414.0  20207414.0  20207414.0  20207414.0  20207414.0
20192      20743118.0  20743118.0  20743118.0  20743118.0  20743118.0
20193      21652748.0  21652748.0  21652748.0  21652748.0  21652748.0
20194      24169251.0  24169251.0  24169251.0  24169251.0  24169251.0
20201      29946216.0  29946216.0  29946216.0  29946216.0  29946216.0
20202      32102476.0  32102476.0  32102476.0  32102476.0  32102476.0
20203      31997445.0  31997445.0  31997445.0  31997445.0  31997445.0
20204      33539703.0  33539703.0  33539703.0  33539703.0  33539703.0
20211      36676371.0  36676371.0  36676371.0  36676371.0  36676371.0
20212      38239667.0  38239667.0  38239667.0  38239667.0  38239667.0
20213      42999944.0  42999944.0  42999944.0  42999944.0  42999944.0
20214      45467887.0  45467887.0  45467887.0  45467887.0  45467887.0
20221      55589997.0  55589997.0  55589997.0  55589997.0  55589997.0
20222      60335724.0  60335724.0  60335724.0  60335724.0  60335724.0
20223      67055930.0  67055930.0  67055930.0  67055930.0  67055930.0

[35 rows x 35 columns]

In [873]:
df_multiplicado = df_pivot_df_ingresos_inter_fijo.values * df_normalized_df_pivot_df_pen_int_fij_x100h.values

ValueError: operands could not be broadcast together with shapes (35,35) (24,35)