In [62]:
import pandas as pd

df = pd.read_csv('../CSV_Cleaned/ingresos_x_provincia_x_periodo.csv')

In [63]:
df_anio_tri_id = pd.DataFrame(df['anio_tri'].unique(), columns=['anio_tri'])

In [64]:
df_anio_tri_id

    anio_tri
0      20141
1      20142
2      20143
3      20144
4      20151
5      20152
6      20153
7      20154
8      20161
9      20162
10     20163
11     20164
12     20171
13     20172
14     20173
15     20174
16     20181
17     20182
18     20183
19     20184
20     20191
21     20192
22     20193
23     20194
24     20201
25     20202
26     20203
27     20204
28     20211
29     20212
30     20213
31     20214
32     20221
33     20222
34     20223
35     20224
36     20231

In [65]:
df_anio_tri_id.to_csv('../CSV_Cleaned/anio_tri.csv', mode='w', index=True)