In [11]:
import pandas as pd

df = pd.read_csv('../CSV_Cleaned/df_ingr_tel_mov_con_var.csv')

In [12]:
df_anio_tri_id = pd.DataFrame(df['anio_tri'].unique(), columns=['anio_tri'])

In [13]:
df_anio_tri_id.head()

   anio_tri
0     20131
1     20132
2     20133
3     20134
4     20141

In [14]:
df_anio_tri_id.tail()

    anio_tri
34     20213
35     20214
36     20221
37     20222
38     20223

In [15]:
df_anio_tri_id.count()

anio_tri    39
dtype: int64

In [16]:
df_anio_tri_id.to_csv('../CSV_Cleaned/anio_tri.csv', mode='w', index=True)