In [2]:
import pandas as pd

In [3]:
url = 'https://datosabiertos.enacom.gob.ar/rest/datastreams/288813/data.csv'
dataframe = pd.read_csv(url)

In [4]:
dataframe

     Año  Trimestre Ingresos (miles de $)        Periodo
0   2013          1          $ 13.135.235   Ene-Mar 2013
1   2013          2          $ 13.970.806   Abr-Jun 2013
2   2013          3          $ 15.235.659  Jul-Sept 2013
3   2013          4          $ 16.218.846   Oct-Dic 2013
4   2014          1          $ 15.938.353   Ene-Mar 2013
5   2014          2          $ 17.680.972   Abr-Jun 2014
6   2014          3          $ 18.976.053  Jul-Sept 2014
7   2014          4          $ 20.012.332   Oct-Dic 2014
8   2015          1          $ 19.337.342   Ene-Mar 2015
9   2015          2          $ 19.945.453   Abr-Jun 2015
10  2015          3          $ 21.785.238  Jul-Sept 2015
11  2015          4          $ 24.881.967   Oct-Dic 2015
12  2016          1          $ 24.763.052   Ene-Mar 2016
13  2016          2          $ 25.353.971   Abr-Jun 2016
14  2016          3          $ 27.416.177  Jul-Sept 2016
15  2016          4          $ 30.143.233   Oct-Dic 2016
16  2017          1          $ 31.205.565   Ene-Mar 2017
17  2017          2          $ 33.509.264   Abr-Jun 2017
18  2017          3          $ 35.711.689  Jul-Sept 2017
19  2017          4          $ 38.110.028   Oct-Dic 2017
20  2018          1          $ 38.733.946   Ene-Mar 2018
21  2018          2          $ 40.653.502   Abr-Jun 2018
22  2018          3          $ 43.280.089  Jul-Sept 2018
23  2018          4          $ 44.026.803   Oct-Dic 2018
24  2019          1          $ 50.246.691   Ene-Mar 2019
25  2019          2          $ 55.338.816   Abr-Jun 2019
26  2019          3          $ 60.905.891  Jul-Sept 2019
27  2019          4          $ 65.388.842   Oct-Dic 2019
28  2020          1          $ 72.077.147   Ene-Mar 2020
29  2020          2          $ 73.538.944   Abr-Jun 2020
30  2020          3          $ 79.634.755  Jul-Sept 2020
31  2020          4          $ 83.479.114   Oct-Dic 2020
32  2021          1          $ 93.112.153   Ene-Mar 2021
33  2021          2         $ 104.782.020   Abr-Jun 2021
34  2021          3         $ 117.751.925  Jul-Sept 2021
35  2021          4         $ 127.389.786   Oct-Dic 2021
36  2022          1         $ 130.454.676   Ene-Mar 2022
37  2022          2         $ 153.032.313   Abr-Jun 2022
38  2022          3         $ 174.057.836  Jul-Sept 2022